
{% extends 'base1.html.twig' %}

{% block body %}

<hr>

<ul class="list-group">
<li class="list-group-item">id Produit : {{ produit.id}}</li>
<li class="list-group-item">désignation: {{produit.designationP}}</li>
<li class="list-group-item">Quantité: ajouterPanier/{id}                        <select name="qte" class="span1" onChange="this.form.submit()">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>&nbsp; </li>
<li class="list-group-item">Prix Unitaire: {{produit.prixP}}</li>
<li class="list-group-item">Prix: {{ produit.prixP * panier[produit.id]}}</li>



{% endblock %}








